head{
    font-family: arial;
    text-align:left;
    padding: 
    font-size: 300px;
}
    
body{
    margin: 0;
    padding: 10px;
    font-family: arial;
    background: #c9fff2;
}

photos
{
    width: 95px;
    height:auto;
    
}

header{
  padding: 40px;
  color: white;
  background: #c9fff2
  text-align: left;
  font-family: arial;
  size: 300px;
}

a{
    text-decoration: none;
    color: inherit;
}

nav ul{
    background-color: #c9fff2;
    padding: 40px;
    text-align: left;
    margin: 0;
    font-family: arial;
    list-style-type: none;
}
nav ul li{
   padding: 0px;
   font-family: arial;
   background: #c9fff2;
}

