body{
    margin: 0;
    padding: 0;
    font-family: slanted ITALIC shift;
    text-decoration: shadow-bold;
    background: #c9fff2;

}
header{
  padding: 10px 0;
  color: white;
  text-align: left;
}
nav ul{
    background-color: white;
    padding: 0;
    text-align: left;
    margin: 0;
}
nav ul li{
   padding: 10px;
   font-family: pixeled;
}
