head{
    font-family: arial;
    text-align:left;
    padding: 
    font-size: 300px;
    
}
    

body{
    margin: 0;
    padding: 10px;
    font-family: slanted ITALIC shift;
    background: #c9fff2;

}
header{
  padding: 40px;
  color: white;
  text-align: left;
  font-family: arial;
  size: 200px;
}
nav ul{
    background-color: #c9fff2;
    padding: 0;
    text-align: left;
    margin: 0;
}
nav ul li{
   padding: 10px;
   font-family: foundry gridnik;
   background: #c9fff2;
}
